*.exe
*.cproject
*.project
*.cwGeneratedFileSetLog
*.jlink
*.apconfig
*.elf
*.map
*.o
*.d
*.cpp
*.7z
**/bootsector*
**/breakpoint*
**/delay*
**/derivative*
**/directory for students*
**/FAT.h
**/FAT.c
**/microSD.h
**/microSD.c
**/pushbutton*
**/MK70F12*
**/SDCardReader*
**/uart*
**/util*
.vscode/
build/
ps0/
ps2/
src/fix-this-program
src/word-count
src/word-count-old
word-count-old/
CMakeLists.txt
cscie92.code-workspace
src/os/simpleshell-b.c
src/os/mymalloc/main.c
sys/
src/os/sys/
src/toggle/.settings/
src/toggle/Project_Settings/
src/toggle/RAM/
src/toggle/.cproject
src/toggle/.cwGeneratedFileSetLog
src/toggle/.project
src/toggle/ReferencedRSESystems.xml
src/toggle/toggle_RAM_Segger J-Link_Trace.jlink
src/os/mymalloc/main.exe
ps3/
os_hw/
Backup/