*.exe
*.cproject
*.project
*.cwGeneratedFileSetLog
*.jlink
*.apconfig
*.elf
*.map
*.o
*.d
*.cpp
*.7z
**/fsInfo*
**/led.h
**/led.c
**/bootsector*
**/breakpoint*
**/delay*
**/derivative*
**/directory for students*
**/FAT.h
**/FAT.c
**/microSD.h
**/microSD.c
**/pushbutton*
**/MK70F12*
**/SDCardReader*
**/uart*
**/util*
.vscode/
build/
ps*/
os_hw/
Backup/
src/fix-this-program
src/word-count
src/word-count-old
word-count-old/
CMakeLists.txt
cscie92.code-workspace
src/os/simpleshell-b.c
src/os/mymalloc/main.c
sys/
src/os/sys/
src/toggle/.settings/
src/toggle/Project_Settings/
src/toggle/RAM/
src/toggle/.cproject
src/toggle/.cwGeneratedFileSetLog
src/toggle/.project
src/toggle/ReferencedRSESystems.xml
src/toggle/toggle_RAM_Segger J-Link_Trace.jlink
src/os/mymalloc/main.exe
src/os/RAM
src/os/Project_Settings

src/os/ReferencedRSESystems.xml
src/os/.settings/com.freescale.core.ide.cdt.toolchain.prefs
src/os/.settings/com.freescale.core.ide.newprojectwizard.prefs
